<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filename" value="Formatted"/>
    <add key="separator" value=" "/>
    <add key="blueprint" value="
蓝图号:{blueprintid}
类型名:{typename}
名称:{name}
需要材料:{needequipment}
金钱:{gold}
制作等级:{typelevel}
类型号:{type}
"/>
    <add key="card" value="
力量:{atk_mel}
灵力:{atk_rang}
闪避:{avoid}
卡号:{cardid}
名称:{cardname}
暴击:{crit}
防御:{def}
命中:{hitrate}
生命:{hp}
幸运:{lucky}
格挡:{block}
{banquetSkins1}
{banquetSkins2}
{banquetSkins3}
"/>
    <add key="dialog" value="
没做
"/>
    <add key="equipment" value="
装备id:{equipmentid}
装备名称:{equipmentname}
力量:{atk_mel}
灵力:{atk_rang}
闪避:{avoid}
格挡:{block}
专属人物id:{cardids}
专属人物名:{cardnames}
暴击:{crit}
防御:{def}
命中:{hitrate}
生命:{hp}
幸运:{lucky}
buff效果:{buffList}
触发器效果:{triggerList}
"/>
    <add key="map" value="
地图:{groupname}
关卡:{mapname}
描述:{content}
面数:{itemcount}
禁止出战:{notcardnames}
"/>
    <add key="quests" value="
类型:{cyclename}
名称:{name}
委托人:{cardname}
描述:{content}
内容:{true_content}
信仰:{faith} 食物:{food} 金钱:{gold}
经验:{exp}
"/>
    <add key="skin" value="
卡号:{cardid}
称号:{skinname}
画师:{author}
力量:{atk_mel}
灵力:{atk_rang}
闪避:{avoid}
暴击:{crit}
防御:{def}
命中:{hitrate}
生命:{hp}
幸运:{lucky}
格挡:{block}
首次获得:{description1}
非首次获得:{description2}
{dialog1}
{dialog2}
{dialog3}
{dialog4}
"/>
    <add key="spell" value="
名称:{name}
灵耗:{spell_point}
几率:{spell_rate}
解锁等级:{need_level}
类型:{type}
描述:{content}
"/>
  </appSettings>
</configuration>